@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared style */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.red{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.title{
    font-weight: 800;
    font-size: 45px;

}
.text-decoretion{
    text-align: center;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    
}
.section-description{
    font-size: 18px;
    color: #757575;
    
}
.secondary-bg{
background-color: #FFF8F3;
}

.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A ;
    font-weight: bold;
    color: white;
    padding: 12px 25px;
    font-size: 25px;
    margin-left: auto;
}
/* title */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px ;
    
}
nav li a{
    text-decoration: none;
    
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom, bottom right;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content{
    max-width: 585px;
    
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
}
.banner-description{
    font-size:  18px; 
    font-weight: 200;
}
.images{
    width: 584px;
    width: 100%;
    position: bottom right;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}
.item-title{
    color: #757575;
    
}
.item-description{
    color: #474747;    
    font-weight: bold;
    text-align: justify;
}
.skill{
    border-radius: 10px;
    margin-bottom: 100px;
    
}
.skill-item{
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
    
}
.skills{
    box-shadow: 0px 6px 50px 0px rgb(0 ,0 , 0, 0.06);
    padding: 24px;
    text-align: justify;
}
.resume{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    color: #474747;
}
.experience-title{
    font-size: 25px;
    color: #474747;
}
.experience-sub-title{
    font-size: 20px;
    color: #757575;
    opacity: 100%;
}
.experience-description{
    font-size: 16px;
    color: #757575;
}
.resume hr{
    margin: 30px 0px;
}
footer{
    margin-top: 100px;
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    margin-bottom: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    border-radius: 5px;
    height: 64px;
    padding: 18px 20px 10px;
    display: block;
    background-color: white;
    width: 100%;
    font-size: 30px;
    margin-bottom: 24px;
    border: none;

}
.footer-title{
    font-size: 35px;
}
.footer-description{
    font-size: 16px;
    }
/* responsive */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skill-item, .resume, footer, .about-items, .banner, nav, nav>ul{
        flex-direction: column;
    }
    nav > ul{
        gap: 10px;
    }
    footer{
        padding: 20px;
    }
    .image{
        width:100% ;
    }
    .banner{
        margin: 10px;
    }
    .header{
        background-image: none;
    }
    .footer-column{
        width: calc(100% - 40px);
    }
    .about {
        padding: 20px;
    }
}



